
<div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 order-1 b-center bg-size"
          [ngStyle]="{'background-image': 'url(' + background + ')',
                      'background-size': 'cover',
                      'background-position': 'center center',
                      'display': 'block'}">
        <img class="bg-img-cover bg-center d-none" [src]="loginImage" alt="login page">
      </div>
      <div class="col-xl-5 p-0">
        <div class="login-card login-dark">
          <div>
            <div>
              <a class="logo text-start" href="javascript:void(0)">
                <img class="img-fluid for-light" [src]="logo" alt="looginpage">
                <img class="img-fluid for-dark" [src]="logo"  alt="looginpage">
              </a>
            </div>
            <div class="login-main">
              <form class="theme-form needs-validation" novalidate [formGroup]="signin" (ngSubmit)="submit()">
                <h4>Sign in to account</h4>
                <p>Enter your username & password to login</p>
                <div class="form-group">
                  <label class="col-form-label">Username</label>
                  <input class="form-control" type="text" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid' : (username?.touched || validate) && username?.errors , 'is-valid' : !username?.errors }">
                  @if(username?.touched && username?.errors?.['required']){
                    <div class="invalid-feedback">Username is required.</div>
                  }
                  @if(username?.errors?.['username']){
                    <div class="invalid-feedback">Invalid Username.</div>
                  }
                </div>
                <div class="form-group">
                  <label class="col-form-label">Password</label>
                  <div class="form-input position-relative">
                    <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" placeholder="*********" formControlName="password" [ngClass]="{ 'is-invalid' : (password?.touched || validate) && password?.errors , 'is-valid' : !password?.errors }">
                    <div class="show-hide" (click)="passwordToggle()"><span [class.show]="!show"> </span></div>
                    @if(password?.touched && password?.errors?.['required']){
                      <div class="invalid-feedback">Password is required.</div>
                    }
                    @if(password?.errors?.['minlength'] || password?.errors?.['maxlength']){
                      <div class="invalid-feedback">
                        A password of 6 to 32 characters is required.
                      </div>
                    }
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class=" p-0">
                    <label>&nbsp;</label>
                  </div>
                  <a class="link" href="javascript:void(0)">Forgot password?</a>
                  <div class="text-end mt-3">
                    <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                  </div>
                </div>

                <div class="login-social-title">
                  <h6>Or</h6>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-light w-100" (click)="loginWithGoogle()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 48 48" style="margin-right: 8px; vertical-align: middle;">
                      <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/>
                      <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/>
                      <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/>
                      <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
                    </svg>
                    Sign in with Google
                  </button>
                </div>

                <p class="mt-4 mb-0 text-center">Don't have account?<a class="ms-2" [routerLink]="['/sign-up']">Create Account</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
