.sidebar-main {
  i {
    font-size: 1.25em;
    margin-right: 12px;
    
    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 12px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
